{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"esmodules": true
			}
		}],
		"@babel/preset-react"
	],
	"plugins": [
		["import", { "libraryName": "antd-mobile", "style": "css" }],
		"@babel/syntax-dynamic-import"
	]
}
